<form method="post" action="/customers/tags">
  <label>
    Customer e-mails <small>(separated by comma or line-breaks)</small>
    <textarea class="text-input" name="emails"></textarea>
  </label>

  <label>
    Name of tag <small>(to tag customers with)</small>
    <input class="text-input" type="text" name="tag_name">
  </label>

  <div class="u-text-center">
    <input class="button" type="submit" value="Tag customers">
  </div>
</form>
